.App {
  padding: 40px;
  max-width: 1100px;
  margin: 0 auto;
}
.App .Intro p {
  margin-top: 10px;
  color: #a3a3a3;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 20px;
  }
}
